.boxLoop(@counter) when (@counter > 0) {
  .boxLoop((@counter - 1));
  .box-@{counter} {
    flex-grow: @counter;
  }
}

.boxLoop(10);

div{
  padding: 5px;
}

.outer-wrapper{
  padding: 0;
  .title-section{
    display: flex;
    h1{
      color:black;
      text-align: left;
    }
  }
  .comic-section{
    display: flex;
    flex-direction: column;
    padding: 0;
    .comic-row{
      display:flex;
      margin-bottom: 16px;
      padding: 0;
      flex-wrap: wrap;
      div[class^="box"]{
        height: 300px;
        background-color: teal;
        margin: 0 8px;
        min-width: 300px;

      }
      .timestamp{
        height: 32px;
        background-color: white;
        color: black;
        text-decoration: uppercase;
        font-style: italic;
        background-color: orange;
      }
      .speech{
        background-color: pink;
        height: 32px;
        color: black;
        text-decoration: uppercase;
        font-style: italic;
      }
    }
  }   
}

