@import "variables.less";
@import "home-page.less";

@mobile-square-height:  150px;
@square-height:         200px;
@footer-height:         30px;

body{
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
  &:hover{
    text-decoration: none;
    color: @gray;
  }
}

h2{
  color: @gray;
  font-size: @font-size-base+10;
}

h4{
  text-transform: uppercase;
  color: @gray-light;
  font-size: @font-size-base;
}

.text-center {
  text-align: center;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin:0 !important;
}

.main-wrapper{
  color: #000000;
}

.landing-page{
  margin-top: 12px;
  margin-bottom: @footer-height+20;
  background-color: transparent;
  @media (min-width: @screen-md-min) {
    margin-top: 50px;
  }
}


// ------------------------------------------------------
// #### landing page section ####
// ------------------------------------------------------


.home-menu-section {
  a{
    color: white;
  }
}

// ------------------------------------------------------
// #### Navigation section ####
// ------------------------------------------------------

.top-nav{
  div:last-child{
    padding-top: 3px;
    a{
      font-size: @font-size-base*1.5;
    }
  }
}

// ------------------------------------------------------
// #### Introduction ####
// ------------------------------------------------------
.sub-page{
  h1{
    margin-top: @padding-base-vertical*8;
  }
  &.education{
    h3, h4{
      padding-left: @padding-base-horizontal;
      padding-right: @padding-base-horizontal;
    }
  }
  &.experience{
    a{
      font-weight:bold;
    }
  }
  &.projects{
    p{
      a{
        font-weight: normal;
      }
    }
    .project{
      margin-top: @padding-base-vertical*5;
      h3{
        padding-bottom: @padding-base-vertical;
        border-bottom: solid 1px @gray-light;
      }
    }
    .proj2{
      .col-md-12:first-child{
        margin-bottom: @padding-base-vertical*5;
      }
      .pic{
        margin-top: 20px;
      }
      margin: 20px auto;
      h3{
        padding-bottom: @padding-base-vertical;
        border-bottom: solid 1px @gray-light;
      }
    }
  }
  img:not(.image-deco){
    .no-padding;
    .no-margin;
  }
  .introduction {
    .image-deco{
      .no-padding;
    }
  }
  .image-top{
    height: 200px;
    width: 100%;
    .no-margin;
    background-size: cover;
    background-position: -50% 40%;
    background-repeat: no-repeat;
    &.intro{
      background-image: url("../images/insta-mates.jpg");
    }
    &.about{
      background-image: url("../images/insta-fondue.jpg");
      background-position: -50% 10%;
    }
    &.education{
      background-image: url("../images/insta-jeans.jpg");
      background-position: -50% 32%;
    }
    &.experience{
      background-image: url("../images/insta-mug.jpg");
      background-position: -50% 15%;
    }
    &.skills{
      background-image: url("../images/insta-rave.jpg");
      background-position: -50% 42%;
    }
    &.projects{
      background-image: url("../images/insta-rally.jpg");
      background-position: -50% 35%;
    }
    &.contact{
      background-image: url("../images/insta-playdoh.jpg");
      background-position: -50% 48%;
    }
    .shadow{
      height: 200px;
      background-image:
        linear-gradient(
          to top, 
          #000000, transparent 40%
        );
    }
  }
  .mini-nav{
    margin: (@padding-base-vertical*2) auto;
    .contact{
      font-size: 10px;
    }
    i{
      font-size: @font-size-base*1.5;
      @media (min-width: @screen-md-min) {
        font-size: @font-size-base;
      }
    }
  }
  overflow: hidden;
}

.introduction, .about, .experience, .skills, .education, .projects, .contactform{
  text-align: center;
  color: #000000;
  background-color: white;
  padding-bottom: @footer-height+20;
  @media (min-width: @screen-md-min) {
    margin-top: 0;
  }
  h1{
    padding: 2%;
  }
  p {
    padding: @padding-base-vertical @padding-base-horizontal;
    .text-center;
  }
}


.introduction{
  .mini-nav{
    margin: (@padding-base-vertical*2) auto (@padding-base-vertical*4) ;
  }
  .instagram-pic {
    border-top: solid 4px #000000;
    border-bottom: solid 4px #000000;
  }
}

//typing text??

body {
  text-align: center;
  color:#D9D9D9;
  padding-top:10em;
}

* { color:#fff; text-decoration: none;}

.tech{
  margin-bottom: @padding-base-vertical;
}

//moving bars
.bar{
  text-align: left;
  height:60px;
  background:rgba(90, 90, 90, 0.5);
  vertical-align: center;
  padding:0.6%;
  margin-top: @padding-base-vertical;
  color:#ffffff;
  padding-top: 7px;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
  span{
    margin-left: @padding-base-horizontal;
    color: transparent;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
  }
  &:hover{
    span{
      @media (min-width: @screen-md-min) {
        color: #000000;
      }
    }
  }
  &:last-child{
    margin-bottom: @padding-base-vertical+10;
  }
}

.inner{
  line-height: 45px;
  height:45px;
  background-color:#000000;
  display:inline-block;
  font-size: 1.5em;
  padding-left: @padding-base-horizontal;
  color:white;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
  &#html{
    width:86%;
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    transition: width .3s ease;
    @media (min-width: @screen-md-min) {
      &:hover{
        width:91%;
      }
    }
  }
  &#css{  
    width:85%;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
      -moz-transition: width .3s ease;
      @media (min-width: @screen-md-min) {
        &:hover{
          width:90%;
        }
      }
  }
  &#ror{
    width:55%;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
      -moz-transition: width .3s ease;
      @media (min-width: @screen-md-min) {
        &:hover{
          width:60%;
        }
      }
  }
  &#javaScript{
    width:60%;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
      -moz-transition: width .3s ease;
      @media (min-width: @screen-md-min) {
        &:hover{
          width:65%;
        }
      }
  }
  &#jquery{  
    width:75%;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
      -moz-transition: width .3s ease;
      @media (min-width: @screen-md-min) {
        &:hover{
          width:80%;
        }
      }
  }
  &#angularJs{
  width:70%;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
      -moz-transition: width .3s ease;
      @media (min-width: @screen-md-min) {
        &:hover{
          width:75%;
        }
      }
  }
}

.show-box{
    border: solid 1px @gray-light;
    margin-top: @padding-base-vertical;
    margin-bottom: @padding-base-vertical;
    height: 70px;
    @media (min-width: @screen-md-min) {
    height: 50px;
    }
    transition: 0s linear all;
    -webkit-transition: 0s linear all;
    p{
      color: @gray-light;
      font-size: @font-size-base;
      padding-top: @padding-base-vertical; 
      @media (min-width: @screen-md-min) {
      font-size: @font-size-base+1;
      padding-top: @padding-base-vertical*2;     
      }
    }
    &.ng-hide-remove {
      opacity: 0;
      height: 0;
      display: block !important;
      transition: .3s linear all;
      -webkit-transition: .3s linear all;
    }
    &.ng-hide-remove.ng-hide-remove-active {
      opacity: .5;
      height: 50px;
    }
    &.ng-hide-add {
      opacity: .5;
      height: 50px;
      display: block !important;
      transition: .3s linear all;
      -webkit-transition: .3s linear all;
    }
    &.ng-hide-add.ng-hide-add-active {
      height: 0px;
      opacity: 0;
    }
}

#contact{
  margin: @padding-base-vertical+10 auto;
  input, textarea{
    border: solid 1px @gray;
    padding: @padding-base-vertical @padding-base-horizontal;
    margin-top: @padding-base-vertical+10;
  }
  input{
    height: 50px;
    &.btn{
      background-color: #000000;
    }
  }
  textarea{
    background-color: @gray-lighter;
  }
}

footer{
  height: @footer-height;
  margin-bottom: -2px;
  @media (min-width: @screen-md-min) {
    height: @footer-height;
  }
  background-color: #000000;
  position:fixed;
  bottom:0px;
  width:100%;
  h2, h4{
    padding: (@padding-base-vertical - 3) @padding-base-horizontal;
    .no-margin;
    .text-center;
    font-size: @font-size-base*1.5;
    @media (min-width: @screen-md-min) {
    font-size: @font-size-base+2;
    }
  }
  h4{
    padding: @padding-base-vertical+2 @padding-base-horizontal;
    font-size: @font-size-base;
    @media (min-width: @screen-md-min) {
      font-size: @font-size-base;
    }
  }
}

//animations 

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}