* {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
}
p,
h1,
h2,
div {
  padding-left: 12px;
  padding-right: 12px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #e6e6e6;
  text-decoration: none;
}
a:focus {
  color: #e6e6e6;
  text-decoration: none;
}
h1 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.7;
}
body {
  background-color: #ffffff;
}
section {
  border-bottom: solid 1px #000000;
}
section.video {
  display: none;
}
section p {
  padding: 5%;
  line-height: 1.5;
}
section a h1 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: solid 2px #f40000;
  text-align: center;
  line-height: 5;
  font-size: 36px;
  letter-spacing: 2.0;
}
@media (min-width: 992px) {
  section.video {
    display: block;
  }
}
section:nth-child(7n+1) h1 {
  background-color: ighten(#000000, 100%);
}
section:nth-child(7n+2) h1 {
  background-color: #dbdbdb;
}
section:nth-child(7n+3) h1 {
  background-color: #b6b6b6;
}
section:nth-child(7n+4) h1 {
  background-color: #929292;
}
section:nth-child(7n+5) h1 {
  background-color: #6d6d6d;
}
section:nth-child(7n+6) h1 {
  background-color: #494949;
}
section:nth-child(7n+7) h1 {
  background-color: #242424;
}
