<alternate-heading-text></alternate-heading-text>
<section id="one" class="studentdeets" >
    <div class="left">
        <a href="./" class='close'>
          <img class="avatar" ng-src="{{student.moveImage}}" alt="{{student.name}} Main Image">
      </a>
  </div>

  <div class="right">
    <img class="realphoto" src="{{student.realImage}}">
    <h1>{{student.name}}</h1>
    <a ng-click="scrollToBottom()" class="clickhere"><h1 class="continue">Continue?</h1></a>
</div>

<div id="two" name="two" class="desc deetsdesc bottom">
    <div data-student-tabs></div>
</div>
</section>

<a id="top-scroll" ng-click="scrollToTop()" class="clickhere" id="top">Back to Top</a>