<h1 class="alternative">Choose your player</h1><alternate-heading-text></alternate-heading-text>
<section>
<div>
  <ul>
    <div class="container">
      <a href="./#/student/{{ student.id }}"
      ng-repeat="student in students"
      ng-click="selectStudent(student)"
      ng-mouseover="hoveredStudent(student)"
      ng-mouseleave="clearHoveredStudent()">
      <img ng-src="{{student.mainImage}}" alt="{{student.name}} Main Image" class="profile">
    </div></a>
  </ul>
  <section ng-show="hoveredStudent" class="meet">
    {{ student.name }}
  </section>
</div>
</section>
