<div class="projects sub-page row">
  <!-- <img class="col-sm-12" src="http://lorempixel.com/g/500/200/animals" alt=""> -->
  <div class="image-top contact"><div class="shadow"></div></div>
  <div class="col-xs-12 hidden-xs top-nav"> 
    <div class="col-xs-2" ><a href="./#/introduction"><h4 onClick="insta()">intro</h4></a></div>
    <div class="col-xs-2"><a href="./#/experience"><h4>experience</h4></a></div>
    <div class="col-xs-2"><a href="./#/skills"><h4>skills</h4></a></div>
    <div class="col-xs-2"><a href="./#/education"><h4>education</h4></a></div>
    <div class="col-xs-2"><a href="./#/projects"><h4>projects</h4></a></div>
    <div class="col-xs-2"><a href="./#/"><i class="fa fa-home"></i></a></div>
  </div>

  <h1 class="text-center"><i class="fa fa-laptop"></i>Contact Me</h1>

 <p><b><a href="LauraAmbrose_2015_2016.pdf" download>Here</a></b> is a print friendly copy of my resume. Alternatively you can go <a href="https://docs.google.com/document/d/1ETcRMNTyD2U1SZ1U3b5RgtRCaBOETVVu1KLsSjUMICs/edit?usp=sharing">here</a> and view it online</p>
  
  <div id="contact" class="col-xs-12">
    <form id="sendanemail" name="htmlform" method="post" action="html_form_send.php">
      <input class="col-xs-12 col-md-6 col-md-offset-3" name="first_name" placeholder="First Name">
      <input class="col-xs-12 col-md-6 col-md-offset-3" name="last_name" placeholder="Last Name">
      <input class="col-xs-12 col-md-6 col-md-offset-3" type="email" name="email" placeholder= "Email Address">
      <input class="col-xs-12 col-md-6 col-md-offset-3" type="tel" name="telephone" placeholder="Contact Number">
      <textarea class="col-xs-12 col-md-6 col-md-offset-3" placeholder="Message" name="comments"></textarea>
      <input class="btn btn-primary" type="submit" value="SEND MESSAGE">
    </form>
  </div>

  <div class="col-xs-12 visible-xs mini-nav">
    <div class="col-xs-4"><a href="./#/skills"><i class="fa fa-chevron-left"></i></a></div>
    <div class="col-xs-4"><a href="./#/"><i class="fa fa-home"></i></a></div>
  </div>

</div>