<div class="education sub-page row">
  <!-- <img class="col-sm-12" src="http://lorempixel.com/g/500/200/animals" alt=""> -->
  <div class="image-top education"><div class="shadow"></div></div>
  <div class="col-xs-12 hidden-xs top-nav"> 
    <div class="col-xs-2" ><a href="./#/introduction"><h4 onClick="insta()">intro</h4></a></div>
    <div class="col-xs-2"><a href="./#/experience"><h4>experience</h4></a></div>
    <div class="col-xs-2"><a href="./#/skills"><h4>skills</h4></a></div>
    <div class="col-xs-2"><a href="./#/education"><h4>education</h4></a></div>
    <div class="col-xs-2"><a href="./#/projects"><h4>projects</h4></a></div>
    <div class="col-xs-2"><a href="./#/"><i class="fa fa-home"></i></a></div>
  </div>

  <h1 class="text-center">Education</h1>

  <h3>.NET Object Oriented Programming using C#</h3>
  <h4>2015</h4>
  <h4>City University, London</h4>
  <i class="fa fa-mortar-board"></i>
  <h3>Web Development Immersive Course</h3>
  <h4>2014</h4>
  <h4>General Assembly, London</h4>
  <i class="fa fa-mortar-board"></i>
  
  <h3>Front End Web Development Course</h3>
  <h4>2014</h4>
  <h4>General Assembly, London</h4>
  <i class="fa fa-mortar-board"></i>
  
  <h3>MSc. Medical Parasitology</h3>
  <h4>2005 - 2006</h4>
  <h4>London School of Hygiene and Tropical Medicine, London</h4>
  <i class="fa fa-mortar-board"></i>
  
  <h3>Level 4 (Upper Intermediate) Intensive Korean Course </h3>
  <h4>2010 - 2011</h4>
  <h4>Konkuk University, Seoul</h4>
  <i class="fa fa-mortar-board"></i>
  
  <h3>BSc. (Honours) Environmental Science 2:2</h3>
  <h4>2001 - 2005</h4>
  <h4>Kings College London, University of London, London</h4>

<div class="mini-nav visible-xs">  
  <div class="col-xs-4"><a href="./#/skills"><i class="fa fa-chevron-left"></i></a></div>
  <div class="col-xs-4"><a href="./#/"><i class="fa fa-home"></i></a></div>
  <div class="col-xs-4"><a href="./#/projects"><i class="fa fa-chevron-right"></i></a></div>
</div>

</div>