<div class="experience sub-page hidden-md row">
  <img class="col-sm-12" src="http://lorempixel.com/g/500/200/animals" alt="">
  <h1 class="text-center"><i class="fa fa-laptop"></i>Experience</h1>
  <p>
    <h2>Web Development Immersive Student | </h2><h3>  General Assembly</h3> <br>
    September 2014 - December 2014 (3 months) | London, United Kingdom <br>
    "Coding all day every day!"
    After enjoying General Assembly's Front End course I wanted a more involved course that would help me switch careers. I really enjoyed learning how to build sites and apps from the back to the front. I am looking forward to applying what I have learnt to my daily life and work.
    <br>
    I learnt a variety of coding languages, with focus on Ruby and Ruby on Rails. Some of the languages and frameworks covered include SQL, Sinatra, Ruby, Ruby on Rails, JavaScript, Canvas, JQuery, Ajax, Angular.js, Node.js, CSS/SCSS, HTML/HAML and Git regularly. <br>
    We practiced an AGILE environment for our work, using Trello to organise group work.
  </p>

  <p>
    <h2>Front End Web Development Student | </h2> <h3> General Assembly</h3> <br>
    June 2014 - August 2014 (3 months) | London, United Kingdom <br>
  </p>

  <p>
    <h2>Medical PA | </h2> <h3> Medisec UK Limited</h3> <br>
    May 2013 - September 2014 (1 year 5 months) | Various locations in Essex
  </p>

  <p>
    <h2>Account Executive | </h2> <h3> Cartel Creative</h3> <br>
    July 2012 - November 2012 (5 months) Apgujeong, Gangnam, Seoul
  </p>

  <div class="col-xs-4"><a href="./#/about"><i class="fa fa-chevron-left"></i></a></div>
  <div class="col-xs-4"><a href="./#/"><i class="fa fa-home"></i></a></div>
  <div class="col-xs-4"><a href="./#/skills"><i class="fa fa-chevron-right"></i></a></div>
</div>