<div class="experience sub-page row">
  <!-- <img class="col-sm-12" src="http://lorempixel.com/g/500/200/animals" alt=""> -->
  <div class="image-top experience"><div class="shadow"></div></div>
  <div class="col-xs-12 hidden-xs top-nav"> 
    <div class="col-xs-2" ><a href="./#/introduction"><h4 onClick="insta()">intro</h4></a></div>
    <div class="col-xs-2"><a href="./#/experience"><h4>experience</h4></a></div>
    <div class="col-xs-2"><a href="./#/skills"><h4>skills</h4></a></div>
    <div class="col-xs-2"><a href="./#/education"><h4>education</h4></a></div>
    <div class="col-xs-2"><a href="./#/projects"><h4>projects</h4></a></div>
    <div class="col-xs-2"><a href="./#/"><i class="fa fa-home"></i></a></div>
  </div>

  <div class="col-xs-12 col-md-8 col-md-offset-2"><h1 class="text-center">Experience</h1>
    <div>
      <h2>Junior Front End Developer</h2> <h4>Durable Digital</h4>
      <h5>March 2015 – Present</h5><h5>London, United Kingdom</h5>
  
      <p>After developing on a Mac with Ruby starting in a Windows .NET stack was a change, but has proved to be one that allows me to switch between the two with ease. As a Front End Engineer I work on large responsive sites, using HTML / CSS / Handlebars.js / LESS / JavaScript / Angular.js and C#, in Sitecore and Umbraco.</p>
  
      <p>Four months into my time at Durable I rebuilt the Ford Foundation main navigation to make it compatible with touch devices, touch devices that also use a mouse, as well as open on hover. I also added UX changes to make it easier to use with touch devices</p>
  
      <p>We most recently re-built the <a href="http://www.fordfoundation.org/">Ford Foundation</a> custom responsive main site. I worked on front end engineering on the site built in Umbraco, as well as the main site sections. I also worked heavily on the <a href="http://www.fordfoundation.org/work/our-grants/grants-database/">'Grants Database'</a> section of the site which was built in Angular, including the graph visuals using data from the Ford Foundation api, filter, search and sort functionality.</p>
  
      <p>At Durable we practice AGILE development using Jira and SCRUM methodology to streamline our work flow.</p>
    </div>
    <i class="fa fa-laptop"></i>
  
    <div>
      <h2>Web Development Immersive Student</h2> <h4>  General Assembly</h4>
      <h5>September 2014 - December 2014 (3 months)</h5><h5>London, United Kingdom</h5>
      <p><i>"Coding all day every day!"</i> After enjoying General Assembly's Front End course I wanted a more involved course that would help me switch careers. I really enjoyed learning how to build sites and apps from the back to the front. I am looking forward to applying what I have learnt to my daily life and work.</p>
     
      <p>I learnt a variety of coding languages, with focus on Ruby and Ruby on Rails. Some of the languages and frameworks covered include SQL, Sinatra, Ruby, Ruby on Rails, JavaScript, Canvas, JQuery, Ajax, Angular.js, Node.js, CSS/SCSS, HTML/HAML and Git regularly.</p>
      <p>We practiced an AGILE environment for our work, using Trello to organise group work.</p>
    </div>
    <i class="fa fa-laptop"></i>
  
    <div>
      <h2>Front End Web Development Student</h2> <h4> General Assembly</h4>
      <h5>June 2014 - August 2014 (3 months)</h5><h5>London, United Kingdom</h5>
    </div>
    <i class="fa fa-laptop"></i>
  
    <div>
      <h2>Medical PA</h2> <h4> Medisec UK Limited</h4>
      <h5>May 2013 - September 2014 (1 year 5 months)</h5><h5>Various locations in Essex</h5>
    </div>
    <i class="fa fa-laptop"></i>
  
    <div>
      <h2>Account Executive</h2> <h4> Cartel Creative</h4>
      <h5>July 2012 - November 2012 (5 months)</h5><h5>Apgujeong, Gangnam, Seoul</h5>
    </div></div>

  <div class="col-xs-12 visible-xs mini-nav"> 
    <div class="col-xs-4"><a href="./#/about"><i class="fa fa-chevron-left"></i></a></div>
    <div class="col-xs-4"><a href="./#/"><i class="fa fa-home"></i></a></div>
    <div class="col-xs-4"><a href="./#/skills"><i class="fa fa-chevron-right"></i></a></div>
  </div>
</div>