<div class="row landing-page">

  <div class="home-menu-section col-xs-4"><a href="./#/introduction"><h1>introduction</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href=""><h1>about</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href=""><h1>experience</h1></a></div>
  <div class="home-menu-section col-xs-12"><a href=""><h1>laura ambrose | web developer</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href=""><h1>skills</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href=""><h1>education</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href=""><h1>projects</h1></a></div>

<!--   <h1>TEST</h1>

  <a href="./#/rules"><i class="fa fa-chevron-left"></i></a> -->

</div>