<!-- <div class="row landing-page">
  <div class="home-menu-section col-xs-4"><a href="./#/introduction" onClick="insta()"><h1>introduction</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href="./#/about"><h1>about</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href="./#/experience"><h1>experience</h1></a></div>
  <div class="home-menu-section name col-xs-12"><a href="LauraAmbrose_2015_2016.pdf" download><h1 class="center">laura ambrose | web developer</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href="./#/skills"><h1>skills</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href="./#/education"><h1>education</h1></a></div>
  <div class="home-menu-section col-xs-4"><a href="./#/projects"><h1>projects</h1></a></div>
</div> -->

<!-- <h1>Laura Ambrose</h1>

<h1>
  <a href="" class="typewrite" data-period="1000" data-type='[ "Front End Developer.", "Nutella Enthusiast." ]'>
    <span class="wrap"></span>
  </a>
</h1>
-->

<div class="outer-wrapper">
  <div class="title-section">
    <h1>
<!--       <a href="" class="typewrite" data-period="1000" data-type='[ "Front End Developer.", "Nutella Enthusiast." ]'>
        <span class="wrap"></span>
      </a> -->
      Name - Title
    </h1>
  </div>

  <div class="comic-section">
    <div class="row one">
      <div class="box-1">
        <div class="timestamp one">
          December 2014 - In London
        </div>
        <div class="speech one">
          Programmer
        </div>
        <div class="speech two">
          HTML/HAML
        </div>
        <div class="speech three">
          JavaScript/Jquery
        </div>
        <div class="speech four">
          CSS/LESS
        </div>
      </div>
      <div class="box-1">
        <div class="timestamp two">
          2016
        </div>
        <div class="speech one">
          SASS
        </div>
        <div class="speech two">
          CoffeeScript
        </div>
        <div class="speech three">
          Ruby
        </div>
        <div class="speech three">
          UI
        </div>
        <div class="speech three">
          Cucumber Testing
        </div>
      </div>
    </div>
    <div class="row two">
      <div class="box-1">
        <div class="timestamp two">
          ...a few years ago in Korea
        </div>
        <div class="speech two">
          Teaching
        </div>
      </div>
      <div class="box-2">
        <div class="speech two">
          Music
        </div>
        <div class="speech two">
          Advertising
        </div>
      </div>
      <div class="box-1">
        <div class="timestamp two">
          ...a few more years ago in London
        </div>
        <div class="speech one">
          BSc. Environmental Science
        </div>
        <div class="speech two">
          MSc. Environmental Science
        </div>
      </div>
    </div>
    <div class="row three">
      <div class="box-2">
        <div class="timestamp three">
          ...Back in the present day London!
        </div>
        <div class="speech one">
          <a href="#">Fuse Universal</a>
        </div>
      </div>
      <div class="box-1">
        <div class="timestamp three">
          Next Episode... Hong Kong!
        </div>
      </div>
    </div>
  </div>
</div>
