<div class="introduction sub-page row">
  <div class="image-top intro">
    <div class="shadow"></div>
  </div>
  <h1 class="text-center"><i class="fa fa-terminal"></i> I am Laura <span class="blink"> |</span> </h1>
  
  <p> Laura is a Web Developer with a leaning towards Front End Development currently based in London. With a Masters in Science and fluency in Korean she has a wide range of experience. She destroys jars of Nutella at an impressive pace and is an avid gamer.</p>



  <div class="col-xs-12 mini-nav">
    <div class="col-xs-4 col-xs-offset-4"><a href="./#/"><i class="fa fa-home"></i></a></div>
    <div class="col-xs-4"><a href="./#/about"><i class="fa fa-chevron-right"></i></a></div>
  </div>

  <img class="col-sm-12 img-responsive" src="../images/insta-kick.jpg" alt="">

</div>