<div class="introduction row">
  <h1 class="text-center">THIS IS THE INTRODUCTION PAGE</h1>

  <p> Banjo everyday carry post-ironic kickstarter gastropub, narwhal aesthetic.  Helvetica hashtag YOLO umami.  Beard jean shorts artisan ethical echo park kitsch, narwhal fixie organic helvetica chartreuse synth before they sold out vice sartorial.  Tilde trust fund butcher pug.  Butcher gochujang retro, whatever truffaut thundercats occupy beard.  Fanny pack fashion axe austin YOLO, bushwick cray celiac deep v quinoa shabby chic meh messenger bag pork belly.  Retro swag dreamcatcher four loko, cold-pressed lumbersexual narwhal cardigan.</p>

  <a href="./#/">BACK</a>
</div>


<!--   <label>Dre or Jay-Z?</label>
  <input placeholder="rappers??">
  <label>If you had to eat one thing for the rest of your life... what would it be?</label>
  <input placeholder="really..?">
  <label>What is your favourite fruit?</label>
  <input placeholder="...">
  

  <a href="./#/form-page"><i class="fa fa-chevron-left"></i></a>
  <a href="./"><i class="fa fa-home"></i></a>
  <a href="./#/final-page"><i class="fa fa-video-camera"></i></a> -->
