<div class="skills sub-page row">
  <!-- <img class="col-sm-12" src="http://lorempixel.com/g/500/200/animals" alt=""> -->
  <div class="image-top skills"><div class="shadow"></div></div>
  <div class="col-xs-12 hidden-xs top-nav"> 
    <div class="col-xs-2" ><a href="./#/introduction"><h4 onClick="insta()">intro</h4></a></div>
    <div class="col-xs-2"><a href="./#/experience"><h4>experience</h4></a></div>
    <div class="col-xs-2"><a href="./#/skills"><h4>skills</h4></a></div>
    <div class="col-xs-2"><a href="./#/education"><h4>education</h4></a></div>
    <div class="col-xs-2"><a href="./#/projects"><h4>projects</h4></a></div>
    <div class="col-xs-2"><a href="./#/"><i class="fa fa-home"></i></a></div>
  </div>

  <h1 class="text-center">Skills</h1>
  
  <div id="tech col-xs-12">
    <div class="bar col-xs-10 col-xs-offset-1" ng-click="html = !html">
      <div id="html" class="inner">HTML / HAML</div>
      <span>Confident</span>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 show-box" ng-show="html">
    <p>
      Used regularly at work and in personal projects
    </p>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="css = !css">
      <div id="css" class="inner">CSS / SCSS</div>
      <span>Confident</span>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 show-box" ng-show="css">
    <p>
      Used regularly at work and in personal projects
    </p>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="ruby = !ruby">
      <div id="ror" class="inner">Ruby on Rails</div>
      <span>OK!</span>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 show-box" ng-show="ruby">
    <p>
      Used in personal projects but not at work
    </p>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="javascript = !javascript">
      <div id="javaScript" class="inner">JavaScript</div>
      <span>Good</span>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 show-box" ng-show="javascript">
    <p>
      Used in personal projects and at work but vanilla JavaScript is used less than other variants
    </p>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="jquery = !jquery">
      <div id="jquery" class="inner">JQuery</div>
      <span>Good</span>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 show-box" ng-show="jquery">
    <p>
      Used in personal projects and at work
    </p>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="angular = !angular">
      <div id="angularJs" class="inner">AngularJS</div>
      <span>Good</span>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 show-box" ng-show="angular">
    <p>
      Used in personal projects and at work
    </p>
    </div>
  </div> <!-- end of skills -->

  <div class="col-xs-12 mini-nav visible-xs"> 
    <div class="col-xs-4"><a href="./#/experience"><i class="fa fa-chevron-left"></i></a></div>
    <div class="col-xs-4"><a href="./#/"><i class="fa fa-home"></i></a></div>
    <div class="col-xs-4"><a href="./#/education"><i class="fa fa-chevron-right"></i></a></div>
  </div>
</div>


